@page
@model IdentityServer.Pages.Account.LoginModel
@{
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card p-4">
        <h2 class="text-center mb-4">Login</h2>
        <div class="validation" asp-validation-summary="ModelOnly" />
        <form method="post">
            <div class="mb-3">
                <label asp-for="Creds.UserName" class="form-label"></label>
                <input type="text" asp-for="Creds.UserName" class="form-control" placeholder="Enter your username" required>
                <span asp-validation-for="Creds.UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Creds.Password" for="password" class="form-label"></label>
                <input type="password" asp-for="Creds.Password" class="form-control" id="password" placeholder="Enter your password" required>
                <span asp-validation-for="Creds.Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</div>