@page
@model Store.IdentityServer.Pages.Account.LogoutModel
@{
}

<h1>You're loggged out</h1>

@if (@Model.PostLogoutRedirectUri != null)
{
    <div>
        Click <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a> to return to the application.
    </div>
}